div.appview-container.css-1wrcr25.ea3mdgi6 {
    background-color: black;
}

header.css-1avcm0n.ezrtsby2 {
    background-color: black;
}

span.css-10trblm.e1nzilvr0 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}